*.npy filter=lfs diff=lfs merge=lfs -text
D:/study/speech_recognition/data/ready_to_use/wav_1000_list_original.pickle filter=lfs diff=lfs merge=lfs -text
data/ready_to_use/wav_1000_list_original.pickle filter=lfs diff=lfs merge=lfs -text
data/ready_to_use/ filter=lfs diff=lfs merge=lfs -text
data/ready_to_use/wav_30.pickle filter=lfs diff=lfs merge=lfs -text
